@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 1.5rem;
}
/***NavBar***/
.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  max-width: 1000rem;
  margin: 0 auto;
}

/*---Menu link---*/
.navbar ul {
  margin-left: auto;
}

nav a.nav-link { 
text-transform: uppercase;
}

.navbar-nav> li > a:hover {
  margin-right: 0.75rem;
  color: #f1356d !important;
}

.navbar-brand{
color: #f1356d !important;

}

