@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 1cm;
}

.navbar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: normal;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 3px solid black;
}

.navbar h1 {
  color: #f1356d;
  font-size: 1.5cm;

}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  font-size: .5cm;
}

.navbar a:hover {
  color: #f1356d;
}

.aboutme {
  width: 40%;
  border-radius: 50%;

}

.abouttext{
  font-size: .5cm;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}